
Itexico.TicTacToe.AndroidOS/bin/Debug/Itexico.TicTacToe.Core.dll

Itexico.TicTacToe.AndroidOS/bin/Debug/Itexico.TicTacToe.Core.dll.mdb

Itexico.TicTacToe.AndroidOS/obj/Debug/Itexico.TicTacToe.AndroidOS.csproj.FilesWrittenAbsolute.txt

Itexico.TicTacToe.AndroidOS/obj/Debug/MonoAndroid,Version=v2.3.AssemblyAttribute.cs

Itexico.TicTacToe.AndroidOS/obj/Debug/R.cs.flag

Itexico.TicTacToe.AndroidOS/obj/Debug/__library_projects__/Itexico.TicTacToe.Core.dll.stamp

Itexico.TicTacToe.AndroidOS/obj/Debug/android/itexico/tictactoe/androidos/R.java

Itexico.TicTacToe.AndroidOS/obj/Debug/assets/Content/logo.png

Itexico.TicTacToe.AndroidOS/obj/Debug/assets/Content/spriteFont1.xnb

Itexico.TicTacToe.AndroidOS/obj/Debug/res/drawable/icon.png

Itexico.TicTacToe.AndroidOS/obj/Debug/res/drawable/splash.png

Itexico.TicTacToe.AndroidOS/obj/Debug/res/values/strings.xml

Itexico.TicTacToe.AndroidOS/obj/Debug/res/values/styles.xml

Itexico.TicTacToe.Core/bin/Debug/Itexico.TicTacToe.Core.dll

Itexico.TicTacToe.Core/bin/Debug/Itexico.TicTacToe.Core.dll.mdb

Itexico.TicTacToe.Core/obj/Debug/.NETPortable,Version=v4.0,Profile=Profile136.AssemblyAttribute.cs

Itexico.TicTacToe.Core/obj/Debug/Itexico.TicTacToe.Core.csproj.FilesWrittenAbsolute.txt

Itexico.TicTacToe.Core/obj/Debug/Itexico.TicTacToe.Core.dll

Itexico.TicTacToe.Core/obj/Debug/Itexico.TicTacToe.Core.dll.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/Itexico.TicTacToe.Core.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/Itexico.TicTacToe.Core.dll.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/Content/logo.png

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/Default.png

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/GameThumbnail.png

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/Info.plist

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/Itexico.TicTacToe.Core.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/Itexico.TicTacToe.Core.dll.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/ItexicoTicTacToeIphone

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/ItexicoTicTacToeIphone.exe

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/ItexicoTicTacToeIphone.exe.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/Lidgren.Network.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/MonoGame.Framework.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/MonoTouchDebugConfiguration.txt

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/MonoTouchSimulatorAssemblies.list

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/OpenTK.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/OpenTK.dll.config

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/OpenTK.dll.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/Settings.bundle/Root.plist

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/System.Core.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/System.Core.dll.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/System.Runtime.Serialization.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/System.Runtime.Serialization.dll.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/System.Xml.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/System.Xml.dll.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/System.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/System.dll.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/monotouch.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/mscorlib.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/monotouch.dll.mdb

Itexico.TicTacToe.Iphone/obj/iPhoneSimulator/Debug/mtouch-cache/arguments

Itexico.TicTacToe.Iphone/obj/iPhoneSimulator/Debug/monotouch_version

Itexico.TicTacToe.Iphone/obj/iPhoneSimulator/Debug/monotouch_dll_content_processed

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/MonoGame.Framework.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/Lidgren.Network.dll

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.exe.mdb

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.exe

Itexico.TicTacToe.Iphone/bin/iPhoneSimulator/Debug/ItexicoTicTacToeIphone.app/mscorlib.dll.mdb

Itexico.TicTacToe.userprefs

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.exe

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.exe.mdb

Itexico.TicTacToe.MacOS/bin/Debug/Lidgren.Network.dll

Itexico.TicTacToe.MacOS/bin/Debug/MonoGame.Framework.dll

Itexico.TicTacToe.MacOS/bin/Debug/MonoMac.dll

Itexico.TicTacToe.MacOS/bin/Debug/Tao.Sdl.dll

Itexico.TicTacToe.MacOS/bin/Debug/Tao.Sdl.dll.config

Itexico.TicTacToe.MacOS/bin/Debug/stderr.log

Itexico.TicTacToe.MacOS/bin/Debug/stdout.log

Itexico.TicTacToe.MacOS/obj/Debug/monomac_dll_content_processed

Itexico.TicTacToe.MacOS/obj/Debug/monomac_version

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.Core.dll

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.Core.dll.mdb

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/Info.plist

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MacOS/Itexico.TicTacToe.MacOS

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/Itexico.TicTacToe.Core.dll

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/Itexico.TicTacToe.Core.dll.mdb

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/Itexico.TicTacToe.MacOS.exe

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/Itexico.TicTacToe.MacOS.exe.mdb

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/Lidgren.Network.dll

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/MonoGame.Framework.dll

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/MonoMac.dll

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/Tao.Sdl.dll

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/MonoBundle/Tao.Sdl.dll.config

Itexico.TicTacToe.MacOS/bin/Debug/Itexico.TicTacToe.MacOS.app/Contents/Resources/Content/logo.png
